HELP.md
.mvn
mvnw
mvnw.cmd
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Log file
*.log
*_rpc_port.txt

# BlueJ files
*.ctxt


# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


#special file
**/application-prod.properties
**/application-prod.yaml
**/application-prod.yml